<div class="container">
  <h2>Institute Appointment History</h2>
  <div *ngIf="history">
    <div *ngFor="let item of history;">
      <div *ngIf="item.status === 1 ">
        <span>Date of Appointment:{{item.date}}</span>
        <span *ngIf="mode===true">Mode of Consultation: Online</span>
        <span *ngIf="mode===false">Mode of Consultation: Offline</span>
        <span>Begin Time: {{item.BeginTime | date:'h:mma' }}</span>
        <span>End Time: {{item.EndTime | date:'h:mma'}}</span>
        <span>Your Appointment is pending</span></div>
      <div *ngIf="!(item.status === 1)">
        <span>Date of Appointment:{{item.date}}</span>
        <span *ngIf="mode===true">Mode of Consultation: Online</span>
        <span *ngIf="mode===false">Mode of Consultation: Offline</span>
        <span>Begin Time: {{item.BeginTime | date:'h:mma'}}</span>
        <span>End Time: {{item.EndTime | date:'h:mma'}}</span>
        <span>Your Appointment is completed</span>
      </div>
    </div>
  </div>
</div>


