<div class="container">
  <div [hidden]="submitted">
    <h2>Institute Register</h2>
    <form *ngIf="active" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" >
      <div class="form-group">
        <label for="name">Institute Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter the name of institution" required
               [(ngModel)]="register.name" name="name" >
      </div>

      <div class="form-group">
        <label for="user_id">User ID</label>
        <input type="text" class="form-control" id="user_id" placeholder="Enter the user ID of Institution" required
               [(ngModel)]="register.user_id" name="user_id" >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="register.password" #password="ngModel" required />
      <div>
        <label for="password_confirmation">Re-Enter Password</label>
        <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" [(ngModel)]="register.password_confirmation" #password_confirmation="ngModel" required />


      <div class="form-group">
        <button class="btn btn-primary">Register</button>

    </div>
</div>
<div [hidden]="!submitted">


</div>
      </div>
    </form>
  </div>
</div>
