<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" role="login">
          <img src="/src/ayush4.jpg" class="img-responsive" alt="" />
          <input type="email" name="email" placeholder="UserId" required class="form-control input-lg" value=""
          [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
          />

          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" [(ngModel)]="pass"
                 [ngModelOptions]="{standalone: true}"/>

          <input type="checkbox" value="i">Institution <br>
          <div class="pwstrength_viewport_progress"></div>


          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" (click)="onSignIn()">Sign in</button>

          <div>
            <a [routerLink]="['register','patient']">Create account</a> or <a href="#">reset password</a>
          </div>

        </form>

        <div class="form-links">

        </div>
      </section>
    </div>

    <div class="col-md-4"></div>


  </div>




</div>
