<h1>Data Driven</h1>
<form [formGroup]="institutionForm">

  <div class="form-group">
    <label for="instituteName">Institute Name:</label>

    <input type="text"
           class="form-control"
           id="instituteName"
           formControlName="name"
    >
  </div>

  <div class="form-group">
    <label for="instituteEmail">E-Mail</label>

    <input type="email"
           class="form-control"
           id="instituteEmail"
           formControlName="email">
  </div>


  <!--<div class="form-group">-->
  <!--<label for="institutePassword">Password</label>-->

  <!--<input type="text"-->
  <!--class="form-control"-->
  <!--id="institutePassword"-->
  <!--formControlName="password">-->
  <!--</div>-->

  <div class="form-group">
    <label for="institutePhone">Phone</label>

    <input type="text"
           class="form-control"
           id="institutePhone"
           formControlName="contact_number">
  </div>


  <div class="form-group">
    <label for="instituteAddress">About</label>

    <input type="text"
           class="form-control"
           id="instituteAddress"
           formControlName="about">
  </div>

  <div class="form-group">
    <label for="instituteWebsite">Photo</label>

    <input type="text"
           class="form-control"
           id="instituteWebsite"
           formControlName="website">
  </div>
  <div class="form-group">
    <label for="institutePhoto">Website</label>

    <input type="text"
           class="form-control"
           id="institutePhoto"
           formControlName="photo">
  </div>


  <br>
  <button type="submit" class="btn btn-primary" (click)="formSubmit()">Submit</button>
</form>
<form [formGroup]="clinicForm">
  <h3>Clinical Services</h3>
  <div formArrayName="services" *ngFor="let service of clinicForm.controls.services.controls;let i=index;">
    <div [formGroupName]="i">
      <div class="form-group">
        <label for="specialityDropdown">Speciality Name</label>
        <select name="specialities" id="specialityDropdown" formControlName="speciality_name">
          <option *ngFor="let speciality of specialities;let k = index;" [selected]="(k == 3)" value="{{k}}">
            {{speciality}}
          </option>
        </select>
      </div>
      <div formArrayName="doctors" *ngFor="let doctor of service.controls.doctors.controls;let j=index;">
        <div [formGroupName]="j">
          <div class="form-group">
            <label for="doctorName">Name</label>

            <input type="text"
                   class="form-control"
                   id="doctorName"
                   formControlName="doctor_name"
            >
          </div>

          <div class="form-group">
            <label for="doctorDiscipline">Discipline</label>

            <input type="text"
                   class="form-control"
                   id="doctorDiscipline"
                   formControlName="department"
            >
          </div>

        </div>

      </div>
      <button type="button" class="btn btn-default" (click)="onAddDoctor(i)">Add Doctor</button>
    </div>

  </div>
  <button type="button" class="btn btn-default" (click)="onAddService()">Add Service</button>
  <button (click)="sendClinic()">Send Clinic</button>
</form>
<form [formGroup]="diagnosticForm">
  <h3>Diagnostic Services</h3>
  <div formArrayName="tests" *ngFor="let diag of diagnosticForm.controls.tests.controls;let l=index">
    <div [formGroupName]="l">
      <div class="form-group">
        <label for="testName">Test Name</label>

        <input type="text"
               class="form-control"
               id="testName"
               formControlName="test_name"
        >
      </div>
      <div class="form-group">
        <label for="testFee">Test Fee</label>

        <input type="number"
               class="form-control"
               id="testFee"
               formArrayName="test_fee"
        >
      </div>

    </div>

  </div>
  <button type="button" class="btn btn-default" (click)="onAddTest()">Add Diagnostic Services</button>
  <button (click)="sendTest()">Send Test</button>
</form>
