<div class="row" style="display: flex">
  <div class="'col-lg-4">
    <input type="text" [(ngModel)]="searchDCS" placeholder="enter service(D.C.S)'s name here!" >
  </div>
  <div class="col-lg-8" style="display: flex">
    <input type="checkbox" value="0" (click)="f0()" [(ngModel)]="flag0">Ayurveda  <br>
    <input type="checkbox" value="1" (click)="f1()" [(ngModel)]="flag1">Yoga      <br>
    <input type="checkbox" value="2" (click)="f2()" [(ngModel)]="flag2">Unnani    <br>
    <input type="checkbox" value="3" (click)="f3()" [(ngModel)]="flag3">Siddha    <br>
    <input type="checkbox" value="4" (click)="f4()" [(ngModel)]="flag4">Homeopathy<br>
  </div>
</div>

<div class="row" style="display: flex" *ngFor="let i of dcsArray | dcsName:searchDCS:flag0:flag1:flag2:flag3:flag4;">
  <div class="col-lg-1"><p>Service Name: {{i.name}}</p></div>
  <div class="col-lg-2"><p>Institute: {{i.institutionName}} </p></div>
  <div class="col-lg-3"><p>Location<br></p>
    <ul>
      <li>{{i.location.address}}</li>
      <li>{{i.location.city}}</li>
      <li>{{i.location.state}}</li>
      <li>{{i.location.pin_code}}</li>
    </ul>
  </div>
  <div class="col-lg-1"><p>Type:{{i.type}}</p></div>
  <div class="col-lg-1"><p>rating: {{i.rating}}</p></div>
  <div class="col-lg-2">
    <ul>
      <li *ngFor="let n of i.department">{{n}}</li>
    </ul>
  </div>
</div>
