<div class="row">
  <div class="'col-lg-4">
    <input type="text" [(ngModel)]="searchT" placeholder="enter service(D.C.S)'s name here!" >
  </div>
  <div class="col-lg-8">
    <button (click)="g(0)">Ayurveda  </button>
    <button (click)="g(1)">Yoga      </button>
    <button (click)="g(2)">Unnani    </button>
    <button (click)="g(3)">Siddha    </button>
    <button (click)="g(4)">Homeopathy</button>
  </div>
</div>

<div class="row" *ngFor="let i of dcsArray | dcsName:searchT:Dname ;">
  <div class="col-lg-1"><p>Service Name: {{i.name}}</p></div>
  <div class="col-lg-2"><p>Institute: {{i.institutionName}} </p></div>
  <div class="col-lg-3"><p>Location<br></p>
    <ul>
      <li>{{i.location.address}}</li>
      <li>{{i.location.city}}</li>
      <li>{{i.location.state}}</li>
      <li>{{i.location.pin_code}}</li>
    </ul>
  </div>
  <div class="col-lg-1"><p>Type:{{i.type}}</p></div>
  <div class="col-lg-1"><p>rating: {{i.rating}}</p></div>
  <div class="col-lg-2">
    <ul>
      <li *ngFor="let n of i.department">{{d(n)}}</li>
    </ul>
  </div>
</div>
