<div class="row">
  <div class="'col-lg-4">
    <input type="text" [(ngModel)]="searchDrName" placeholder="enter Doctor's name here!" >
  </div>
  <div class="col-lg-8">
    <button (click)="f(0)" >Ayurveda  </button>
    <button (click)="f(1)" >Yoga      </button>
    <button (click)="f(2)" >Unnani    </button>
    <button (click)="f(3)" >Siddha    </button>
    <button (click)="f(4)" >Homeopathy</button>
  </div>
</div>

<div class="row" *ngFor="let i of doctorsArray | docName: searchDrName:DFlags ;">
  <div class="col-lg-3"><p>DrName: {{i.drName}}</p></div>
  <div class="col-lg-3"><p>DrInstitute: {{i.instituteName}} </p></div>
  <div class="col-lg-3">DrLocation<br>
    <ul>
      <li>{{i.location.address}}</li>
      <li>{{i.location.city}}</li>
      <li>{{i.location.state}}</li>
      <li>{{i.location.pin_code}}</li>
    </ul>
  </div>
  <div class="col-lg-1"><p>Consultation Charges:{{i.fee}}</p></div>
  <div class="col-lg-1"><p>Department:{{i.department}}</p></div>
  <div class="col-lg-1"><p>Specialises in:{{i.speciality}}</p></div>
</div>
