<div class="container">
  <h4>Search by</h4>
  <div class="row">
    <div class="col-lg-8">
      <button (click)="flip(0)" >Ayurveda  </button>
      <button (click)="flip(1)">Yoga      </button>
      <button (click)="flip(2)">Unnani    </button>
      <button (click)="flip(3)">Siddhi    </button>
      <button (click)="flip(4)">Homeopathy</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h5>Location</h5>
      <input type="text" placeholder="Enter location Name" [(ngModel)]="searchLoc" >
    </div>
    <div class="col-lg-4">
      <h5>Name</h5>
      <input type="text" placeholder="Enter Name" [(ngModel)]="searchName" >
    </div>
    <div class="col-lg-4">
      <h5>Dr's Name</h5>
      <input type="text" placeholder="Enter Doctor's name" [(ngModel)]="searchDrName" >
    </div>
  </div>
</div>
<div class="row">
  <h4>Search results </h4>
  <div id="searchResults" *ngFor="let i of institutes | locFilter:searchLoc | depFilter:departmentFlag | nameFilter:searchName   " >
    <div class="col-md-3"><b>Name:</b>   {{i.name}}</div>
    <div class="col-md-3"><b>Location:</b>  {{i.location}}</div>
    <div class="col-md-2">
      <b>Disciplines</b>
      <ul >
        <li *ngFor="let d of i.department">{{d}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <b>Specialities</b>
      <ul>
        <li *ngFor="let s of i.specialities">{{s}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <b>Rating:</b> {{i.ratings}}
    </div>
  </div>
</div>


